{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "hoshi-mi-cf",
  "main": "src/index.tsx",
  "compatibility_date": "2026-07-29",
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "hoshi-mi",
      "database_id": "00000000-0000-0000-0000-000000000000"
    }
  ],
  "observability": { "enabled": true }
}
